@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

p {
    font-size: 12px;
}

hr {
    margin-bottom: 15px;
}

.centered {
    text-align: center;
}

.traffic-light {
    width: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px solid black;
    background-color: #444;
    padding: 0px 20px 10px 20px;
    border-radius: 20px;
    margin-right:15px;
}

.red-light-off {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #FF0000;
    border: 2px solid black;
    opacity: 0.5;
}

.red-light-on {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #FF0000;
    border: 2px solid black;
    opacity: 1;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.green-light-off {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #32CD32;
    border: 2px solid black;
    opacity: 0.5;
}

.green-light-on {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #32CD32;
    border: 2px solid black;
    opacity: 1;
}
